<div class="container page-box">
  <div class="row">
    <div class="col-md-12">

      <p class="section-header">Guest Information</p>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="page-subtitle">Some useful information for guests to know HERE</p>
          </div>
        </div>
      </div>

      <div class="container detail static-detail detail-content">
        <div class="row">
          <div class="col-md-3 sms-vs5">
            <h4>Hotel1</h4>
            <p>
              Address1<br />
              Address2<br />
              <a href="tel://1-555-123-4567">(555)-123-4567</a>
            </p>
          </div>

          <div class="col-md-6">
            <img class="center-block img-purp-circle" src="/resources/img/placeholder.png" />
          </div>

          <div class="col-md-3">
            <h4>Hotel2</h4>
            <p>
              Address1<br />
              Address2<br />
              <a href="tel://1-555-123-4567">(555)-123-4567</a>
            </p>
          </div>
        </div>
      </div>

      <p class="section-header">Things to Do</p>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p>Something about the area. Some things to do:</p>
          </div>
        </div>
      </div>

      <div class="container detail static-detail">
        <div class="row">
          <div class="col-md-6">
            <img class="center-block img-purp-circle" src="/resources/img/placeholder.png" />
          </div>

          <div class="col-md-6 sms-vs5">
            <ul>
              <li><p>Attraction1</p></li>
              <li><p>Attraction2</p></li>
              <li><p>Attraction3</p></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>