<div class="container page-box">
  <div class="row">
    <div class="col-md-12">

      <p class="section-header">The Big Day</p>

      <div class="container detail static-detail">
        <div class="row">
          <div class="col-md-6">
            <h4>Ceremony & Reception Location</h4>
            <p>
              Venue Name<br />
              Address1<br />
              Address2
            </p>


            <h4 class="vs6">Schedule of Events</h4>
            <ul>
              <li><p>5:00pm - 6:00pm: Event1</p></li>
              <li><p>6:00pm - 7:00pm: Event2</p></li>
              <li><p>7:00pm - 8:00pm: Event3</p></li>
            </ul>

            <h4 class="vs6">Event Guidelines</h4>
            <ul>
              <li><p>Dress code: Blank</p></li>
              <li><p>Etc.</p></li>
            </ul>
          </div>
          <div class="col-md-6">
            <img class="center-block img-purp-circle" src="/resources/img/placeholder.png" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>