/** Animations for the content panel **/

.pan-left-animate.ng-enter,
.pan-left-animate.ng-leave
{
  -webkit-transition: 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition: 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -ms-transition: 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition: 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.pan-left-animate.ng-enter {
  position: absolute;
  left: 100%;
}
.pan-left-animate.ng-enter.pan-left-animate.ng-enter-active {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 200px;
}

.pan-left-animate.ng-leave {
  left: 0;
}

.pan-left-animate.ng-leave.pan-left-animate.ng-leave-active{
  position: absolute;
  left: -100%;
}